* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    float: left;
    width: 100%;
}

.background {
    height: 100%;
    width: 100%;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    z-index: -1000;
    position: absolute;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.vertical {
    flex-direction: column;
}

html {
    background-color: black;
    color: white;
    font-family: body;
    width: auto;
    text-align: center;
}

a {
    transition: all 0.5s ease-in-out;
    filter: blur(4px);
}

a:hover {
    filter: blur(1px);
}

h1,
h2,
h3,
h4 {
    font-family: title;
    padding: 16px;
}

img {
    height: 40vh;
}

@font-face {
    font-family: title;
    src: url(SubnetSysFont.ttf);
}

@font-face {
    font-family: body;
    src: url(SubnetosisFont.ttf);
}