* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.left {
    text-align: left;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}

.vertical {
    flex-direction: column;
    flex-wrap: nowrap;
}

html {
    background-color: black;
    color: white;
    font-family: body;
    width: auto;
    text-align: center;
}

a {
    transition: all 0.5s ease-in-out;
    filter: blur(4px);
}

a:hover {
    filter: blur(1px);
}

p {
    font-size: 1rem;
    color: gray;
    margin: 0;
    padding: 0.125rem;
}

li {
    color: gray;
    width: 100%;
    margin: 0;
    padding: 0.125rem 1rem;
}

b {
    font-stretch: expanded;
    color: lightgrey;
}

hr {
    border: 2px solid grey;
    width: 75%;
    margin: 1rem auto;
}

h1,
h2,
h3{
    font-family: title;
    color: darkgrey;
    padding: 1rem 0;
    margin: 0;
}

h1 {
    color: white;
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
    color: lightgrey;
    padding: 0.5rem 0;
}

h3{
    font-family: body;
    font-size: 1.125rem;
    padding: 0.125rem 0;
}

img {
    height: 40vh;
}

@font-face {
    font-family: title;
    src: url(SubnetSysFont.ttf);
}

@font-face {
    font-family: body;
    src: url(SubnetosisFont.ttf);
}